extends ../layouts/default
include ../mixins/cta

block intro
	section.intro.green.text-center
		h1 Complaints Process
		h3 
	section.grey
		ul.container.breadcrumb
			li Complaints Process
block content
	section.p3rem
		.row
			.col
				div Complaints Process
				
	
	+cta

