extends ../layouts/default
include ../mixins/cta2
include ../mixins/postmeta
block metadata
	if  (data.complaintsprocess.metadata)
		title= data.complaintsprocess.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.complaintsprocess.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.complaintsprocess.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.complaintsprocess.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.complaintsprocess.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.complaintsprocess.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.complaintsprocess.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.complaintsprocess.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.complaintsprocess.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.complaintsprocess.metadata.metakeywords + '' )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.complaintsprocess.title
		h3 
	section.grey
		ul.container.breadcrumb
			li= data.complaintsprocess.breadcrumbstitle
block content
	section.p3rem
		.container
			.row
				.col
					div!= data.complaintsprocess.content
	+cta2()

