extends ../layouts/default
include ../mixins/tpdata
include ../mixins/company-features
include ../mixins/process
include ../mixins/promises
include ../mixins/carouselreviews1
include ../mixins/tpreviews
include ../mixins/partners
include ../mixins/press

block metadata
	if  (data)
		title= title || 'Profile Pension'
		description
		keywords
		facebook
			image
			title
			description
		twitter
			image
			title
			description
	else
		+postmeta()


block content
	section#homehead
		.container.text-center

			h1 Straight-talking pension advice 				
			div.row.justify-content-center
				div.col-xs-8.col-md-6
					p We find your pensions and tell you about them for free, with no obligation.
					a(href='/get-started-trace').btn.btn-lg.btn-primary Find Pensions
					+tpdata()

	+company-features()

	+process()

	+promises()

	+carouselreviews1()

	+tpreviews()
	+partners()
	+press()
	
