extends ../layouts/default
include ../mixins/tpdata
include ../mixins/company-features
include ../mixins/process
include ../mixins/promises
include ../mixins/carouselreviews1
include ../mixins/tpreviews
include ../mixins/partners
include ../mixins/press

block metadata
	if  (data.index.metadata)
		title= data.index.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.index.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.index.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.index.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.index.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.index.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.index.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.index.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.index.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.index.metadata.metakeywords + '' )
	else
		+postmeta()
		
block content
	section#homehead
		.container.text-center
			h1= data.index.s1title
			div.row.justify-content-center
				div.col-xs-8.col-md-6
					p!=data.index.s1content
					a(href='/'+data.index.s1buttonlink).btn.btn-lg.btn-primary= data.index.s1button
					+tpdata()

	+company-features()
	+process()
	+promises()
	+carouselreviews1()
	+tpreviews()
	+partners()
	+press()
	
