extends ../layouts/default
include ../mixins/cta


block intro
	section.intro.green.text-center
		h1 Pensions We Review
	div.grey
		.container
			ul.breadcrumb
				li: a(href='/') Pension We Review

block content
	.container
		.row
			h2 H 
			
	+cta()
