extends ../layouts/default
include ../mixins/tpdata
include ../mixins/company-features
include ../mixins/process	
include ../mixins/promises
include ../mixins/carouselreviews1
include ../mixins/tpreviews
include ../mixins/partners	
include ../mixins/press	
	

block content
	section#homehead
		.container.text-center

			h1 Switching you to the best pension.

							
			div.row.justify-content-center
				div.col-xs-8.col-md-6
					p Impartial advice to maximise the value of your pension, reduce charges and get you access to your cash when you need it.
					a(href='/get-started-trace').btn.btn-lg.btn-primary Find Pensions
					+tpdata()
	
	+company-features()
	section.p3rem.grey.company-services
		.container.text-center
			div.row.justify-content-center
				div.col-xs-8.col-md-6
					h2 Why you should consider switching
					p There are lots of good reasons to compare and switch your pension. We find a better pension for 7 out of every 10 people we speak to.
			div.row.equal.p3rem
				div.col-lg-3.col-md-6.company-services__item
					div.panel.panel-success
						div.panel-body
							<img class="company-services-image" src="https://www.profilepensions.co.uk/wp-content/uploads/2016/09/Performance.svg" alt="Performance">
							h4.panel-title Performance
							<p>73% of people don’t know how their pension is performing. Make sure your hard-earned savings are well invested in a growing fund.
				
				
				div.col-lg-3.col-md-6.company-services__item
					div.panel.panel-success
						div.panel-body
							<img class="company-services-image" src="https://www.profilepensions.co.uk/wp-content/uploads/2016/09/FeesCharges.svg" alt="Fees &amp; Charges">
							h4.panel-title Fees &amp; Charges
							p 70% of customers who compared their pension are able to find a better deal. Are over-bloated fees eating into your pension pot? We’ll tell you.
				
				div.col-lg-3.col-md-6.company-services__item
					div.panel.panel-success
						div.panel-body
							<img class="company-services-image" src="https://www.profilepensions.co.uk/wp-content/uploads/2016/09/Access.svg" alt="Access to your cash">
							h4.panel-title Access to your cash
							p Over half of our customers discovered they were not in flexible pensions. Get started today to find out how you can access tax free cash from 55.
				
				
				div.col-md-3.col-sm-6.company-services__item
					div.panel.panel-success
						div.panel-body
							<img class="company-services-image" src="https://www.profilepensions.co.uk/wp-content/uploads/2016/09/Consolidate.svg" alt="Consolidate">
							h4.panel-title Consolidate
							p Organise multiple pensions into a single pot to reduce paperwork and hassle. Start making it easier to manage your savings.
			
			div.row
				.col.text-center
					a.btn.btn-lg.btn-primary(href='/get-started-trace', role='button') Get started 			
							
				
				
	+process()
	
	+promises()
	
	+carouselreviews1()
	
	+tpreviews()
	+partners()
	+press()
	
