extends ../layouts/default
include ../mixins/process
include ../mixins/carouselreviews1
include ../mixins/tpreviews
include ../mixins/cta2
block metadata
	if  (data.pensionreview)
		title= data.pensionreview.metadata.metatitle || 'Profile Pension'
		meta(property='og:title' , content='' + data.pensionreview.metadata.metafbtitle + ''  )
		meta(name='twitter:title', content='' + data.pensionreview.metadata.metatwittertitle + '' )
		meta(name='description' content='' + data.pensionreview.metadata.metadescription + '' )
		meta(property='og:description' , content='' + data.pensionreview.metadata.metafbdescription + '' )
		meta(name='twitter:description', content='' + data.pensionreview.metadata.metatwitterdescription + '' )
		meta(property='og:image' content='' + data.pensionreview.metadata.metafbimageurl + '' )
		meta(name='twitter:image:src' content='' + data.pensionreview.metadata.metatwitterdescription + '' )
		meta(name='twitter:card' , content='' + data.pensionreview.metadata.metatwittercard + '' )
		meta(name='keywords' content='' + data.pensionreview.metadata.metakeywords + '' )
	else
		+postmeta()
block intro
	section.intro.green.text-center
		h1= data.pensionreview.longtitle
	div.grey
		ul.container.breadcrumb
			li= data.pensionreview.breadcrumbstitle
block content
	section.p3rem
		.container.text-center.p3rem
			.row
				.col-md-12
					div!= data.pensionreview.content
				
	+process()
	
	+carouselreviews1()
	
	+tpreviews()
		
	+cta2()

