extends ../layouts/default
include ../mixins/process
include ../mixins/carouselreviews1
include ../mixins/cta	

block intro
	section.intro.green.text-center
		h1 How It Works
		h3 Over the past three years we have refined our process to make it as easy as possible for you to find a better pension.
	div.grey
		ul.container.breadcrumb
			li How It Works
block content
	+process
	+carouselreviews1
	+cta
