extends ../layouts/default
include ../mixins/cta

block intro
	section.intro.green.text-center
		h1 How It Works
		h3 Over the past three years we have refined our process to make it as easy as possible for you to find a better pension.
	section.grey
		ul.container.breadcrumb
			li How It Works
block content
	section.p3rem
		.container.text-center
			.row
				h2 Privacy Policy
				.col-md-12

	+cta
