mixin carouselreviews1()
	section.reviews
		.container.text-center
			h2 On average we find £25,000 per missing pension
			div.row
				div.light-slider.col-md-12
					div.col-md-12.text-center.review-customer
						div
							div.review-image.compat-object-fit                 
								img.full-width.img-responsive(src="https://www.profilepensions.co.uk/wp-content/uploads/2017/05/pt-2.jpg") 
						.div.customer-about
							p.lead2 Shaun, Found a £27,603 pension with Prudential. <br> Lives in Penarth
							p The result of my pension trace was great! Profile helped me find pensions that I’d lost through moving employers and put everything into layman’s terms. Even though I paid out, I’m better off in the long run and in control of my pension pot.
					div.col-md-12.text-center.review-customer
						div.review-image.compat-object-fit
							img.full-width.img-responsive(src="https://www.profilepensions.co.uk/wp-content/uploads/2017/05/pt-3.jpg")
						div.col-md-12.text-center.review-customer
							p.lead2 Mark, Found a £24,899 pension with Re-assure.<br> Lives in Bath
							p The process was entirely pain free, very professional and explained in a way that was easy to understand. The best part was that I found money that I didn’t know I had! I would definitely recommend Profile to anyone who needs pension advice or to find a lost pension.</p> 
					div.col-md-12.text-center.review-customer
						div.review-image.compat-object-fit
							img.full-width.img-responsive(src="https://www.profilepensions.co.uk/wp-content/uploads/2017/05/pt-1.jpg")
						.div.customer-about
							p.lead2 Julie, Found a £8,420 pension with Phoenix Life.<br> Lives in Scunthorpe
							p The result of my pension trace was great! Profile helped me find pensions that I’d lost through moving employers and put everything into layman’s terms. Even though I paid out, I’m better off in the long run and in control of my pension pot.
