mixin company-features()
	section.features
		.container
			div.row.no-gutters
				div.col-md-3.col-sm-6.col-xs-12
					svg.sprite-check-lg.svggreen <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
						span.company-features__item We are not tied to anyone and work in your best interest  
				div.col-md-3.col-sm-6.col-xs-12
					svg.sprite-check-lg.svggreen <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
						span.company-features__item We tell you if you can improve your pension or not 
				div.col-md-3.col-sm-6.col-xs-12
					svg.sprite-check-lg.svggreen <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
						span.company-features__item We find better pensions for 70% of people  
				div.col-md-3.col-sm-6.col-xs-12
					svg.sprite-check-lg.svggreen <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
						span.company-features__item We are authorised and regulated by the FCA  		
