mixin list(id, ...items)
	ul(id=id)
		each item in items
			li= item
			
mixin article(title)
	.article
		.article-wrapper
			h1= title
			if block
				block
			else
				p No content provided			

mixin link(href, name)
	//- attributes == {class: "btn"}
	a(class!=attributes.class href=href)= name


