mixin partners()
	section.partners
		.container.text-center
			h2 Working with all the UK's leading pension providers and funds including
			div.row
				div.profilepension-partners.col-md-12
					div.col-md-12
						img.profilepension-partners__img(src='/images/metlife.svg' alt='Met Life')
					div.col-md-12
						img.profilepension-partners__img(src="/images/scottishwindows.svg" alt="Scottish Windows")
					div.col-md-12
						img.profilepension-partners__img(src="/images/lv.png" alt="LIVERPOOL VICTORIA" style="height: 40px;")
					div.col-md-12
						img.profilepension-partners__img(src="/images/aegon.svg" alt="AEGON")
					div.col-md-12
						img.profilepension-partners__img(src="/images/aviva.svg" alt="Aviva")
					div.col-md-12
						img.profilepension-partners__img(src="/images/blackrock.svg" alt="BlackRock" )
			
