mixin postmeta()
	<title>Profile Pension </title>
	meta(property='og:title', content="Profile Pension" )
	meta(name="twitter:title", content="Profile Pension")
	meta(name="description" content="We find your pensions and tell you about them for free, with no obligation. We're authorised and regulated by the FCA and have helped 12,000+ UK customers.")
	meta(property="og:description" , content="We find your pensions and tell you about them for free, with no obligation. We're authorised and regulated by the FCA and have helped 12,000+ UK customers." )
	meta(name="twitter:description", content="We find your pensions and tell you about them for free, with no obligation. We're authorised and regulated by the FCA and have helped 12,000+ UK customers.")
	meta(property="og:image" content="images/logo.svg")
	meta(name="twitter:image:src" content="/images/logo.png")
	meta(name="twitter:card" , content="/images/summary_large_image.png")
	meta(property="og:url" , content="https://www.profilepensions.co.uk/" )
	meta(name="twitter:url" content="https://www.profilepensions.co.uk/" )
	meta(property="og:type", content = "article")
	meta(property="article:published_time", content="")
	meta(name="keywords" content="pension, financial service, pension free advice")
	
