mixin press()
	section.press
		.container.text-center
			h2 Profile in the press
			div.row
				div.profilepension-press.col-md-12
					div.col
						img.profilepension-partners__img(src="/images/aol.svg" alt="Aol." style="height: 40px;")
					div.col
						img.profilepension-partners__img(src="/images/thetelegraph.svg" alt="The Telegraph" style="height: 40px;")
					div.col
						img.profilepension-partners__img(src="/images/thespectator.png" alt="The Spectator" )
					div.col
						img.profilepension-partners__img(src="/images/adviser.png" alt="Advisor")
					div.col
						img.profilepension-partners__img(src="/images/athome.png" alt="At Home" style="height: 40px;")
					div.col
					div.col
						img.profilepension-partners__img(src="/images/mirror.png" alt="Mirror")
