mixin promises()
	section.promise
		.container
			h2.text-center Our promise to you
			div.row
				div.col-md-4.col-sm-12
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We'll always remain impartial
				div.col-md-4.col-sm-12
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item If your pension is fine where it is we’ll tell you
				div.col-md-4.col-sm-12
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We only charge you if you switch
