mixin promises()
	section.promise
		.container.text-center
			h2 Our promise to you
			div.row
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest
				div.col-md-4
					svg.sprite-check-lg.svgyellow <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tick" viewBox="0 0 29.98 27.81"></use>
					span.company-features__item We are not tied to anyone and work in your best interest		
