

mixin tpdata()
	<div class="tp-widget-stars clearfix">
	<div id="star-container" class="star-rating business star-5">
	<div class="star-1"><img src="http://profpensions.staging.wpengine.com/wp-content/themes/gdwp/images/sprite_star.png"></div>
	<div class="star-2"><img src="http://profpensions.staging.wpengine.com/wp-content/themes/gdwp/images/sprite_star.png"></div>
	<div class="star-3"><img src="http://profpensions.staging.wpengine.com/wp-content/themes/gdwp/images/sprite_star.png"></div>
	<div class="star-4"><img src="http://profpensions.staging.wpengine.com/wp-content/themes/gdwp/images/sprite_star.png"></div>
	<div class="star-5"><img src="http://profpensions.staging.wpengine.com/wp-content/themes/gdwp/images/sprite_star.png"></div>
	</div>
	</div>
	<div id="reviews-summary" class="tp-widget-businessinfo">
	<span>TRUSTSCORE <strong id="trust-score">9.5</strong></span>
	<span class="divider">|</span>
	<span><strong id="businessUnit-numberOfReviews-total">448</strong> <span id="translations-reviews">REVIEWS</span></span>
	</div>


