script.
//	var async = require('async');
//	var trustpilot = require('../../providers/trustpilot')();
footer
	.container
		.row
			.col-sm-8
				.row
					.col-xs-4
						h5.footer-heading Contact
						ul
							li Profile Pensions
							li Norwest Court Guildhall Street
							li Preston PR1 3NU
							li 01772 364187
							li contact@profilepensions.co.uk

					.col-xs-4
						h5.footer-heading Resources
						ul
							li: a(href='/pension-switch') Switch Your Pension
							li: a(href='/') Find Your Missing Pension
							li: a(href='/awards-and-reviews') Awards And Reviews
							li: a(href='/pensions-review') Pensions We Review
							li: a(href='/content-hub') Pension Blog
					.col-xs-4
						h5.footer-heading
						ul
							li: a(href='/meet-the-team') Meet The Team
							li: a(href='/') Terms Of Business
							li: a(href='/complaints-process') Complaints Process
							li: a(href='/privacy-policy') Privacy Policy
							li: a(href='/') Letter Of Authority
			.col-sm-4
				h5.footer-heading Subscribe
				p For genuinely useful pensions news & advice, sign up for our newsletter.
				.list-inline
					input(placeholder="Your email address")
					button.submit.btn-primary.btn-mail
						i.fa.fa-envelope(aria-hidden='true') 

		.row
			.col-md-9
				p.small Profile Pensions is a trading name of Profile Financial Solutions Ltd which is Authorised and Regulated by the Financial Conduct Authority.FCA Number 596398.
				p.small Registered in England & Wales, Company Number 07731925. Registered Office address: Norwest Court, Guildhall Street, Preston, PR1 3NU. Trading address: Norwest Court, Guildhall Street, Preston, PR1 3NU.©2011-2017 Profile Financial Solutions Ltd
			.col-md-3
				a(href='https://www.facebook.com/ProfilePensions/' target='_blank')
					i.fa.fa-facebook(aria-hidden='true') 
				a(href='https://twitter.com/profilepensions/' target="_blank")
					i.fa.fa-twitter(aria-hidden='true') 
				a(href='https://www.linkedin.com/company/profile-financial-solutions-ltd?trk=mini-profile' target='_blank')
					i.fa.fa-linkedin(aria-hidden='true') 
				a(href='https://plus.google.com/110735537998950598881' target='_blank')
					i.fa.fa-google-plus(aria-hidden='true')
		
				
