extends ../../layouts/default

block content
	.container
		.row.justify-content-center
			.col-md-6.col-sm-6.profile-main
				h1 We need some details about you to start tracing your pension
				p We require your written approval to start finding your missing pension.
				p Been referred by a friend?
				.div#widgetProfilePensions(data-source='gocompare')
					<script src="https://www.profilepensions.co.uk/scripts/js/profilepensions_lc_form.js"></script>
				
			.col-md-4.col-sm-5.profile-sidebar
				.lead-capture-sidebar 
					.section
						h1 How it works 
						p 
					.section
						h1 Our customer promise
						p
					.section
						h1 Whole of market comparison
						p
					.section
						h1 Why you shouldn’t give up or delay completing this form right now	
				
