extends ../../layouts/default

block content
	.container
		.row
			.p  <a href="/products">&larr; Back to products</a>
			.col-md-12
				h1= data.product.title
				h3= data.product.categories
				p= data.product.price
				p= data.product.description
